<template>
    <section>
        <h1>All Posts</h1>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Authur</th>
                    <th>Tags</th>
                    <th>Excerpt</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="article in articles" v-bind:key="article.title">
                    <th>1</th>
                    <td>{{article.title}}</td>
                    <td>{{article.authur}}</td>
                    <td>{{article.tags}}</td>
                    <td>{{article.body}}</td>
                    <td>{{article.createdAt}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination-section">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&lsaquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&rsaquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'Articles',
       data(){
           return{
                articles:"",
                currentPage:1,
                pageSize:10,
                pagerSize:1
           }
       },
       methods:{
          getPagerSize(){
            this.pagerSize = this.articles.length / this.pageSize
          } 
       },
        created(){
                fetch("https://conduit.productionready.io/api/articles")
                .then(res=>res.json())
                .then(rs=> {
                    this.articles =rs.articles
                    console.log(rs.articles)
                    })
                    .then(()=>this.getPagerSize())
                .catch(
                    () => {this.errorback=true; }
                )
                
        }
    }
</script>

<style scoped>
    section {
        width: 80%;
        float: left;
        padding: 15px 30px;
    }

    h1 {
        font-weight: 300;
        margin: 20px 0;
    }

    thead th {
        font-weight: bold;
    }

    .pagination-section {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    .pagination-section nav a {
        color: #373A3C;
    }

    .btn-info {
        background-color: #5BC0DE;
        border: none;
    }
</style>