<template>
    <aside>
        <h3>Post</h3>
        <ul>
            <li class="active"><a href="">All Articles</a></li>
            <li><a href="">New Article</a></li>
        </ul>
    </aside>
</template>

<script>
    export default {
        name: 'Aside',
    }
</script>

<style scoped>
    aside{
        background-color: #1C7CD5;
        color: #fff;
        height: 100vh;
        float: left;
        width: 20%;
    }
     h3{
        font-weight: 300;
        font-size: 1.6em;
        padding:20px 30px;
    }
    ul{
        margin-top: 10px;
    }
    ul li{
        list-style: none;
        padding:10px 50px; 
    }
    ul li:hover{
       background-color: #FFFFFF15; 
    }
    ul li a{
        color: #fff;
        font-size: 1.4em;
    }
    .active{
        background-color: #FFFFFF15;
    }
    a:hover,
    a:focus,
    a:active{
        text-decoration: none;
    }
</style>