<template>
    <header>
        <h1>Arvan Challenge</h1>
        <h2>Welcome {{username}}</h2>
    </header>
</template>

<script>
//import axios from 'axios'
    export default {
        name: 'Header',
        data(){
            return{
                username:""
            }
        },
        created(){
            //  axios.get("https://conduit.productionready.io/api/user")
            //  .then(res => res.json())
            //  .then(rs => this.username = rs)
        }
    }
</script>

<style scoped>
    header{
        background-color: #373A3C;
        color: #fff;
        height: 60px;
        padding: 10px;
    }
    h1,h2{
        display: inline-block;
        font-weight: 300;
    }
     h1{
        margin-right: 15px;
        font-size: 1.6em;
    }
    h2{
        font-size:1.3em;
    }
</style>