<template>
<div class="form-wrapper">

    <div v-if="errorback" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Login Failed!</strong> User name and/or Password is invalid
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>

  <form v-bind:class="{'was-validated':submited}" @submit="onSubmit" novalidate>
        <h1>LOGIN</h1>
        
        <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" v-model="form.email" class="form-control" required>
        <div class="invalid-feedback">Required field</div>
        </div>
        
        <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" v-model="form.password" class="form-control" required>
        <div class="invalid-feedback">Required field</div>
        </div>
        
        <button class="btn btn-primary btn-block form-btn">Login</button>
        <p class="register">Don’t have account?<router-link to="/register">Register Now</router-link></p>
  </form>
</div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'Login',
    data(){
        return{
           form:{
               email:"",
               password:""
           },
           submited:false,
           errorback:false
        }
    },
    components:{},
    methods:{
        onSubmit(e){
            e.preventDefault()
            this.submited=true

            if(this.form.email!="" && this.form.password!=""){
                axios.post("https://conduit.productionready.io/api/users/login",
                JSON.stringify(this.email,this.password)
                )
                .then(res=>res.json())
                .then(rs=>{
                    this.response=rs}
                )
                .catch(
                    () => {this.errorback=true; }
                )
            }
            
       }
    }
}
</script>

<style scoped>
.form-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    form{
        background-color: #eceeef;
        width: 35%;
        padding: 40px 20px 10px;
    }
    h1{
        font-size: 47px;
        font-weight: 400;
        color:#707070;
        text-align: center;
    }
    label{
        font-size: 16px;
        font-weight: 300;
        color: #373A3C;
    }
    .form-btn{
        margin: 26px 0 13px;
    }
    .register{
        font-weight: 300;
        color: #373A3C;
    }
    .register a{
        font-weight: bold;
        margin-left:5px;
    }
    .alert{
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .close{
        color:#373A3C
    }
</style>>
