<template>
    <section>
        <h1>New Article</h1>
        <form novalidate @submit="onSubmit" v-bind:class="{'was-validated':submited}">
            <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title" type="text" placeholder="Title" class="form-control" required>
                    <div class="invalid-feedback">Required field</div>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input id="description" type="text" placeholder="Description" class="form-control">
                </div>

                <div class="form-group">
                    <label for="body">Body</label>
                    <textarea id="body" placeholder="Body" class="form-control" rows="10"></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="tag">Tags:</label>
                    <input id="tag" type="text" placeholder="New tag" class="form-control">
                </div>
                <div class="form-group">
                </div>
            </div>
            </div>
        </form>

    </section>
</template>

<script>
    export default {
        name: 'NewArticle',
        data() {
            return {
                submited:false,
            }
        },
        methods: {
              onSubmit(e){
                e.preventDefault()
                this.submited=true
              }
        },
        created() {

        }
    }
</script>

<style scoped>
    section {
        width: 80%;
        float: left;
        padding: 15px 30px;
    }

    h1 {
        font-weight: 300;
        margin: 20px 0;
    }

    thead th {
        font-weight: bold;
    }
</style>